
body {
  font-family: 'Libre Baskerville', serif;
}

h1 {
  /* font-family: 'Libre Baskerville', serif; */
  font-size: 2.5rem;
}

h2 {
  /* font-family: 'Libre Baskerville', serif; */
  font-size: 2rem;
  /* text-align: center; */
}

h3 {
  font-size: 1.4rem;
}

p {
  /* font-family: 'Libre Baskerville', serif; */
  line-height: 1.7;
}

section.about {
  background-color: #f9f9f9;
  position: relative;
}

section {
  padding-top: 100px;
  padding-bottom: 50px;
}

header.section-header {
  padding-bottom: 25px;
}

/* Placeholders */
.top {
  height: 200px;
  background-color: #516073;
}

.about {
  background-color: #818c84;
}

.menu {
  background-color: #516073;
}

.reservation {
  background-color: #818c84;
}

.events {
  background-color: #516073;
}

.footer {
  background-color: #818c84;
}

.copyright {
  background-color: #516073;
}

/* Navbar */
.navbar {
  padding: 0.5rem 4rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-family: 'Libre Baskerville', serif;
}

.navbar-btn {
  color: #000;
  font-family: 'Libre Baskerville', serif;
  border-radius: 0;
  text-decoration: none;
}

.form-inline {
  padding-left: 1.5rem;
}

/* Footer and copyright section */
.header {
  padding-bottom: 15px;
}

.header-footer {
  padding-bottom: 35px;
}

.list-unstyled {
  line-height: 1.7rem;
}

.copyright-section {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #516073;
}
