h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 3rem;
}

p {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.7;
}

.navbar {
  padding: 0.5rem 5rem;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-family: 'Libre Baskerville', serif;
}

.navbar-btn {
    color: #000;
font-family: 'Libre Baskerville', serif;
border-radius: 0;
text-decoration: none;
}

.form-inline {
    padding-left: 1.5rem;
}
