body {
  font-family: 'Libre Baskerville', serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  line-height: 1.7;
}

/* For consistency across sections */
section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-header {
  padding-bottom: 25px;
}

/* Button Unique */
.btn-unique, .btn-unique-reverse, .btn-unique-white {
  color: #fff;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.1rem;
  height: 40px;
  background: #516073;
  line-height: 40px !important;
  padding: 0 20px !important;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  position: relative;
  border: none;
  text-decoration: none !important;
  border-radius: 0 !important;
}

.btn-unique::before, .btn-unique-reverse::before, .btn-unique-white::before {
  content: '';
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #fff;
  position: absolute;
  display: block;
  left: 1px;
  top: 1px;
  text-decoration: none !important;
}

/* Navbar */
.navbar {
  padding: 0.5rem 4rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-family: 'Libre Baskerville', serif;
}

.form-inline {
  padding-left: 1.5rem;
}

/* Top container section */
.top {
  background-image: url(../images/pasta1.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-color: #516073;
}

/* about section */
.about {
  background-color: #f9f9f9;
  position: relative;
}

/* Specialty dishes section */
.dishes {
  background-color: #d3d9c4;
}

.dishes-row {
  margin-left: 55px;
  margin-right: 55px;
}

.dishes-card {
  background-color: #d3d9c4;
  border: none;
}

.card-img-top {
  padding-left: 20px;
  padding-right: 20px;
}

/* Menu section */
/* .menu {
  background-color: #f9f9f9;
} */

section.menu ul.nav-tabs {
  background: #f5f5f5;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: none
}

section.menu ul.nav-tabs li.nav-item {
  float: none;
  display: inline-block
}

section.menu ul.nav-tabs li.nav-item a.nav-link {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #333;
  background: none;
  border: none
}

section.menu ul.nav-tabs li.nav-item a.nav-link.active {
  color: #7fb401;
  background: none
}

section.menu .tab-pane .menu-item {
  padding: 20px 0;
  border-bottom: 1px solid #eee
}

section.menu .tab-pane .menu-item h5 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 400;
  margin-top: 0
}

section.menu .tab-pane .menu-item p {
  font-size: 0.85rem;
  color: #999;
  margin-top: 5px
}

section.menu .tab-pane .menu-item .item-price {
  color: #7fb401
}

section.menu .tab-pane .menu-item .item-price strong {
  display: block;
  font-size: 1.2rem;
  margin-top: 5px
}

section.menu .tab-pane .menu-item.recommended {
  border-bottom: none;
  background: #7fb401;
  padding: 0 20px
}

section.menu .tab-pane .menu-item.recommended .item-details {
  padding: 20px 0
}

section.menu .tab-pane .menu-item.recommended h5, section.menu .tab-pane .menu-item.recommended p {
  color: #fff;
  margin-bottom: 0
}

section.menu .tab-pane .menu-item.recommended .item-price {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 20px
}

section.menu .tab-pane .menu-item.recommended .item-price strong {
  color: #fff !important
}

section.menu .tab-pane .menu-item.recommended .item-price span {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff
}

@media (max-width: 767.98px) {
  section.menu .nav-link {
    font-size: 0.85rem !important
  }

  section.menu div[class*='col-']:not(:last-of-type) {
    margin-bottom: 10px
  }
}

.text-primary {
  color: #7fb401 !important
}

.has-border, section.menu .tab-pane .menu-item.recommended {
  position: relative;
  z-index: 1
}

.has-border::before, section.menu .tab-pane .menu-item.recommended::before {
  content: '';
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 1px solid #fff;
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  z-index: -1
}


a.text-primary:hover, a.text-primary:focus {
  color: #5b8101 !important
}


/* Reservation Section */
.reservation {
  background-color: #d3d9c4;
}

/* Events section */
.events {
  background-color: #516073;
}

/* Contact section */
.contact-us {
  background-color: #d3d9c4;
}

/* Footer and copyright section */
.footer {
  background-color: #818c84;
}

hr {
  border: solid #516073 6px;
  border-bottom: none;
  width: 80%;
  margin-left: 0;
  margin-top: 0;
}

.header {
  padding-bottom: 15px;
}

.list-unstyled {
  line-height: 1.7rem;
}

.copyright-section {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #516073;
}
